<mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened>
        <mat-nav-list>

            <mat-list-item (click)="onClickExpand('Home')">
                <p matLine>Home</p>
                <button mat-icon-button>
                    <mat-icon *ngIf="menu === 'Home'">expand_more</mat-icon>
                    <mat-icon *ngIf="menu !== 'Home'">expand_less</mat-icon>
                </button>
            </mat-list-item>
            <section [hidden]="menu !== 'Home'">
                <a mat-list-item [routerLink]="['/layout/content']">Content</a>
            </section>
            <mat-divider></mat-divider>

            <mat-list-item (click)="onClickExpand('Material')">
                <p matLine>Material</p>
                <button mat-icon-button>
                    <mat-icon *ngIf="menu === 'Material'">expand_more</mat-icon>
                    <mat-icon *ngIf="menu !== 'Material'">expand_less</mat-icon>
                </button>
            </mat-list-item>
            <section [hidden]="menu !== 'Material'">
                <a mat-list-item [routerLink]="['/material/autocomplete']">Mat-Autocomplete</a>
                <a mat-list-item [routerLink]="['/material/dialog']">Mat-Dialog</a>
                <a mat-list-item [routerLink]="['/material/table']">Mat-Table</a>
            </section>
            <mat-divider></mat-divider>

        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>